= form_for @budget, html: { class: "form form-horizontal budget" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@budget[:name])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@budget[:description])
  .form-group
    = f.label :amount, class: 'control-label'
    .controls
      = f.text_field :amount, class: 'form-control', required: true
    = error_span(@budget[:amount])
  .form-group
    = f.label :amount_per_project, class: 'control-label'
    .controls
      = f.text_field :amount_per_project, class: 'form-control', required: true
    = error_span(@budget[:amount_per_project])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), budgets_path, :class => 'btn btn-default'
