- model_class = Budget
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

- if @budget.voted_by?(current_user)
  .alert.alert-success
    Już oddałeś swój głos w ramach tego budżetu
%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @budget.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @budget.description
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = number_to_currency @budget.amount
%p
  %strong= model_class.human_attribute_name(:amount_per_project) + ':'
  %br
  = number_to_currency @budget.amount_per_project

%ul.list-inline
  %li
    %h2 Projekty
  %li= link_to 'Dodaj nowy', new_budget_project_path(budget_id: @budget), class: 'btn btn-primary'
%ul
  - @budget.projects.each do |project|
    %li
      %h4= link_to "#{project.name} (#{project.votes} głosów)", [@budget, project]


= link_to t('.back', :default => t("helpers.links.back")), budgets_path, :class => 'btn btn-default'
- if can? :manage, @budget
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_budget_path(@budget), :class => 'btn btn-default'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), budget_path(@budget), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
