- model_class = Budget
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @budget.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @budget.description
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @budget.amount
%p
  %strong= model_class.human_attribute_name(:amount_per_project) + ':'
  %br
  = @budget.amount_per_project


= link_to t('.back', :default => t("helpers.links.back")), budgets_path, :class => 'btn btn-default'
- if can? :manage, @budget
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_budget_path(@budget), :class => 'btn btn-default'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), budget_path(@budget), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
