= form_for [@budget, @project], html: { class: "form form-horizontal project" } do |f|
  .form-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name, class: 'form-control', required: true
    = error_span(@project[:name])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_area :description, class: 'form-control', required: true
    = error_span(@project[:description])
  .form-group
    = f.label :amount, class: 'control-label'
    .controls
      = f.text_field :amount, class: 'form-control', required: true
    = error_span(@project[:amount])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), @budget, :class => 'btn btn-default'
