- model_class = Project
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @project.name
%p
  %strong= model_class.human_attribute_name(:description) + ':'
  %br
  = @project.description
%p
  %strong= model_class.human_attribute_name(:amount) + ':'
  %br
  = @project.amount


= link_to t('.back', :default => t("helpers.links.back")), @budget, :class => 'btn btn-default'

- if @budget.voted_by?(current_user)
  .alert.alert-success
    Już oddałeś głos w ramach tego budżetu
- else
  = link_to 'Zagłosuj', budget_project_votes_path(budget_id: @budget, project_id: @project), method: :post, class: 'btn btn-danger'

